  @model dynamic
  @{
    var count= 0;
  }
  <br><br><br><br><br><br>
<div class="row">
  <div class="col-lg-6 p-6"  style="text-align: center;">
    <h2 style="color: black;">Usuarios Registrados</h2>
    <table class="table" >
      <thead>
        <tr style="background-color: #6fab2c;">
          <th style="color: white;" scope="col">Correo</th>
        </tr>
      </thead>
      <tbody>
        @foreach (Usuario usr in @Model.Usuarios)
        {
          <tr>
            <th scope="row">@usr.email</th>
            <td>
              <div>
              <form asp-action="Eliminar" asp-controller="Usuario" id="form_eliminar">
                      <div class="form-group">
                        <input type="hidden" value="@usr.id" name="id"/>
                        <input type="hidden" value="@usr.email" name="email"/>
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                      </div>
              </form></div>
            </td>
          </tr>
        }
      </tbody>
    </table>
    <br>
    <br>
    <br>
    <br>
  </div>
  <div class="col-lg-6 d-flex">
             <div class="p-6" >
                 <h1 class="font-weight-bold mb-3" style="color: black;">Completa el formulario de Usuario</h1>
                 <br>
                @foreach (Usuario usu in @Model.UsuarioNew){
                 <div><form asp-action="Enviar" asp-controller="Usuario" method="POST" id="form_enviar">
                      <div class="form-group mb-3">
                        <label  class="font-weight-bold" style="color: black;">Correo:<span class="text-danger">*</span></label>
                        <input type="text"  style="background-color: #6fab2c; color:white;" class="form-control" name="email">
                        <span  class="text-danger"></span>
                     </div>
                     <br>
                      <div class="form-group mb-3">
                         <label  class="font-weight-bold" style="color: black;">Contraseña:<span class="text-danger">*</span></label>
                         <input type="password"  style="background-color: #6fab2c; color:white;" class="form-control" name="password">
                          <span  class="text-danger"></span>
                     </div>
                   <br>
                   <div style="text-align: center;">
                      <button class="get-started-btn scrollto" style="border-radius: 50px;margin:20px; background-color: #6fab2c;" type="submit">Registrar</button>
                   </div>
                 </form></div>
                }
             </div>
   </div>
</div>

<script>
  $( "#form_enviar" ).submit(function( evento ) {
 
  // Evita que el formulario se entregue normalmente
  evento.preventDefault();
 
  // Obten algunos valores de elementos en la página:
  var $formulario = $( this ),
    email = $formulario.find( "email" ).val(),
    password = $formulario.find( "password" ).val(),
    url = $formulario.attr( "action" );
 
  // Envía los datos usando post
  var postear = $.post( url, { email: email, password: password } );
 
  // Pon los resultados en un div
  postear.done(function( datos ) {
    location.reload();
  });
});
$( "#form_eliminar" ).submit(function( evento ) {
 
  // Evita que el formulario se entregue normalmente
  evento.preventDefault();
 
  // Obten algunos valores de elementos en la página:
  var $formulario = $( this ),
    email = $formulario.find( "email" ).val(),
    url = $formulario.attr( "action" );
 
  // Envía los datos usando post
  var postear = $.post( url, { email: email} );
 
  // Pon los resultados en un div
  postear.done(function( datos ) {
    location.reload();
  });
});
</script>