  @model dynamic
  <br><br><br><br><br><br>
<div class="row">
  <div class="col-lg-6 p-6"  style="text-align: center;">
    <h2 style="color: black;">Usuarios Registrados</h2>
    <table class="table" >
      <thead>
        <tr style="background-color: #6fab2c;">
          <th style="color: white;" scope="col">Correo</th>
        </tr>
      </thead>
      <tbody>
        @foreach (Usuario usu in @Model.Usuarios)
        {
          <tr>
            <th scope="row">@usu.email</th>
            <td>
              <form asp-action="Eliminar" asp-controller="Listado">
                      <div class="form-group">
                        <input type="hidden" value="@usu.email" asp-for="@usu.email"/>
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#@usu.email">Eliminar</button>
                      </div>
              </form>
            </td>
          </tr>
        }
      </tbody>
    </table>
    <br>
    <br>
    <br>
    <br>
  </div>
  <div class="col-lg-6 d-flex">
             <div class="p-6" >
                 <h1 class="font-weight-bold mb-3" style="color: black;">Completa el formulario de Envío</h1>
                 <br>
                @foreach (Usuario user in @Model.UsuarioNew){
                 <form asp-action="Enviar" asp-controller="Usuario" method="POST">
                      <div class="form-group mb-3">
                         <label  class="font-weight-bold" style="color: black;">Correo:<span class="text-danger">*</span></label>
                         <input type="text"  style="background-color: #6fab2c; color:white;" class="form-control" asp-for="@user.email">
                          <span  class="text-danger"></span>
                     </div>
                     <br>
                      <div class="form-group mb-3">
                         <label  class="font-weight-bold" style="color: black;">Contraseña:<span class="text-danger">*</span></label>
                         <input type="password"  style="background-color: #6fab2c; color:white;" class="form-control" asp-for="@user.password">
                          <span  class="text-danger"></span>
                     </div>
                   <br>
                   <div style="text-align: center;">
                      <button class="get-started-btn scrollto" style="border-radius: 50px;margin:20px; background-color: #6fab2c;" type="submit">Registrar</button>
                   </div>
                 </form>
                }
             </div>
   </div>
</div>